GOOGLE_API_KEY=<sua API Key do Google aqui>
GOOGLE_EMBEDDING_MODEL=models/gemini-embedding-001
OPENAI_API_KEY=<sua API Key da OpenAI aqui>
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/rag
PG_VECTOR_COLLECTION_NAME=pdf_chunks
PDF_PATH=document.pdf
